{% load static %}
<html>
<head>
  <title>Моя страница</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
	<header>
	
    <nav>
      <ul>  
	  <img src="{% static 'image/1.png' %}" class="icon" style="text-align: center; width: 20px; height: 20px;"></img>
	  <a>Мир кубика Рубика&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
	   
        <li><a href="{% url 'glav' %}">Главная</a></li>
        <li><a href="{% url 'algor' %}">Алгоритмы</a></li>
        <li><a href="{% url 'up' %}">Соревнования</a></li>
		<li><a href="{% url 'we' %}">Про нас<a><li>
		<li><a href="{% url 'time' %}">Таймер<a><li>

      </ul>
    </nav>
	
</header>
  
<main>
<div class="div1">
<br><br>  
<div class="div1-content"> 
<h1 style="text-align: center;">Алгоритмы</h1>
<br><br><br> 
<div class="container">

<p class="p1">
На сегодняшний день не существует универсального алгоритма сборки кубика Рубика. 
В действительности, точное количество ходов, необходимых для сборки кубика Рубика из любого случайного состояния, 
до сих пор остается открытым математическим вопросом, известным как "Число Бога".
Однако, существуют различные методы сборки кубика Рубика, которые оптимизированы 
для минимизации количества ходов. Некоторые из наиболее популярных методов, таких 
как метод фридрих (CFOP), метод Ру и другие, могут 
позволить опытным сборщикам собирать кубик Рубика в сравнительно небольшом количестве ходов.
Одним из наиболее известных алгоритмов, приближающихся к 20 ходам, является алгоритм 
"Superflip" (Суперпереворот). Этот алгоритм применяется для переворачивания всех кубиков
на одной из граней и может быть рассмотрен как особый случай, который требует 20 ходов 
для полной сборки.
Важно отметить, что оптимальное количество ходов для сборки кубика Рубика также зависит
от сложности истартового состояния. Для некоторых состояний может потребоваться больше
или меньше ходов для полной сборки.
</p>

<img src="{% static 'image/algoritm1.jpg' %}" style="margin-right: 200px; width: 400px; height: 300px;"></img>
</div>
<br><br> 
<br><br> 
<br><br> 
<br><br> 
</div>
</div>

<div class="div4">
<br><br> 
<div class="div4-content"> 
<h1 style="text-align: center; margin-left: 930px; color:rgb(255, 255, 255);">Последовательная сборка </h1>
<br><br><br>
<div class="container">
<p class="p1" style="color:rgb(255, 255, 255); font-weight: bold;">Да, слоевой метод является одним из
 наиболее популярных методов сборки кубика Рубика. Он основан на пошаговом формировании 
 слоев кубика, начиная с первого слоя, затем второго слоя и, наконец, третьего слоя, чтобы
 завершить сборку.

В слоевом методе существует несколько этапов:<br>

1. Сборка креста: В этом этапе необходимо собрать крест на верхней стороне кубика. Крест должен быть согласован по цветам с центрами боковых граней.<br>

2. Сборка углов первого слоя: Затем следует размещение угловых элементов первого слоя, чтобы они совпадали по цвету с центрами смежных сторон.<br>

3. Сборка второго слоя: В этом этапе необходимо разместить ребра второго слоя с учетом совпадения их цветов с цветами смежных углов первого слоя.<br>

4. Сборка последнего слоя: Этот этап включает размещение оставшихся углов последнего слоя и правильную ориентацию ребер этого слоя.<br>

Слоевой метод обычно требует несколько десятков ходов для сборки кубика Рубика. Опытные сборщики могут применять определенные алгоритмы и приемы, чтобы ускорить процесс и снизить количество ходов.

Важно отметить, что существует несколько различных вариаций слоевого метода, разработанных разными людьми, и некоторые из них могут включать дополнительные этапы или модификации для улучшения эффективности и скорости сборки.</p>
 <img src="{% static 'image/algoritm.png' %}" style="margin-right: 90px; width: 400px; height: 300px;">
</div>
<br><br> 
<br><br> 
<br><br> 
<br><br> 
</div>
</div>
  
  
  
  <h3 style="text-align: center;"><br><br><br></h3>

<div class="div5">
<br><br> 
<div class="div5-content"> 
<h1 style="text-align: center; margin-left: 930px; color:rgb(255, 195, 15);">Метод Фридриха</h1>
<br><br><br>
<div class="container">
<p class="p1" style="color:rgb(255, 255, 255); font-weight: bold;">
Метод Фридриха, также известный как CFOP (Cross, F2L, OLL, PLL), является
одним из наиболее популярных методов сборки кубика Рубика. Он состоит из 
нескольких этапов, каждый из которых фокусируется на решении определенной 
части кубика. <br>
Краткое описание каждого этапа метода Фридриха: <br>
Крест (Cross): В этом этапе целью является сборка креста на нижней
стороне кубика. Крест должен быть согласован по цветам с центрами
боковых граней. Это обычно делается путем решения одной стороны
креста и переноса остальных ребер на нужные позиции.
<br>
Первые два слоя: Затем следует сборка первых двух слоев кубика.
В этом этапе решаются углы и ребра второго слоя, заполняя пространство
между крестом и верхним слоем. Решение F2L состоит из нескольких
алгоритмов и методов для эффективного размещения углов и ребер.
<br>
Ориентация последнего слоя: После завершения первых двух слоев, следующий
этап заключается в ориентации всех углов последнего слоя, чтобы они смотрели
вверх. Ориентация углов выполняется с помощью специфических алгоритмов OLL, 
которые поворачивают углы в нужное положение.
<br>
Перестановка последнего слоя: Последний этап метода Фридриха заключается в
перестановке углов и ребер последнего слоя, чтобы полностью завершить сборку
кубика. Для этого применяются алгоритмы PLL, которые меняют местами и ориентируют
элементы последнего слоя.
<br>
Метод Фридриха требует изучения и практики, чтобы достичь высокой скорости сборки.
Опытные сборщики могут использовать различные техники, алгоритмы, и запомненные
последовательности для оптимизации своей сборки и достижения сборки кубика
Рубика за очень небольшое количество ходов.
</p>
<img src="{% static 'image/forfon3.png' %}" style="margin-right: 100px; width: 400px; height: 400px;">
</div>
<br><br> 
<br><br> 
<br><br> 
<br><br> 
</div>
</div>
  

  <h3 style="text-align: center;"><br><br><br></h3>

</main>
  
  <footer>
    <nav>
      <ul>  
	 
	  <a></a>
	   
        <li><a href="file://C:/Users/User/Desktop/HTML/Лабы/кубик/Главная.html">телеграмм</a></li>
        <li><a href="file://C:/Users/User/Desktop/HTML/Лабы/кубик/Алгоритмы.html">инстаграмм</a></li>
		<li><a href="file://C:/Users/User/Desktop/HTML/Лабы/кубик/Про_нас.html">электронная почта<a><li>
      </ul>
    </nav>
  </footer>
</body>
</html>