{% load static %}
<html>
<head>
  <title>Моя страница</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
	<header>
	
    <nav>
      <ul>  
	  <img src="{% static 'image/1.png' %}" class="icon" style="text-align: center; width: 20px; height: 20px;"></img>
	  <a>Мир кубика Рубика&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>

          <li><a href="{% url 'glav' %}">Главная</a></li>
        <li><a href="{% url 'algor' %}">Алгоритмы</a></li>
        <li><a href="{% url 'up' %}">Соревнования</a></li>
		<li><a href="{% url 'we' %}">Про нас<a><li>
		<li><a href="{% url 'time' %}">Таймер<a><li>


    <!-- Ссылка на таймер доступна только для аутентифицированных пользователей -->
    <a href="{% url 'timer' %}">Перейти</a>

      </ul>
    </nav>

</header>
  
<main>

<div class="div1">
<br><br>  
<div class="div1-content"> 
<h1 style="text-align: center;">История и факты</h1>
<br><br><br> 
<div class="container">

<p class="p1">
Кубик Рубика (или куб Рубика) - это трехмерная головоломка, состоящая из 6 граней, каждая из которых
имеет размерность 3х3. Каждая грань кубика может быть одного из шести 
возможных цветов: белого, желтого, красного, оранжевого, синего и зеленого.

Главная цель кубика Рубика - повернуть его грани таким образом, чтобы каждая грань состояла из одного цвета.
При повороте граней кубика меняют свои положения, и игрок должен использовать различные комбинации поворотов, чтобы достичь
завершенного состояния, где каждая грань состоит из одного цвета.
Грани большого куба способны вращаться вокруг 3 внутренних осей куба. Каждая из шести граней состоит из девяти 
квадратов и окрашена в один из шести цветов, в одном из распространённых вариантов окраски, расположенных парами 
друг напротив друга: красный — оранжевый, белый — жёлтый, синий — зелёный. Повороты граней позволяют переупорядочить
цветные квадраты множеством различных способов. Задача игрока заключается в том, чтобы «собрать кубик Рубика»: 
поворачивая грани куба, вернуть его в первоначальное состояние, когда каждая из граней состоит из квадратов одного цвета.
</p>

<img src="{% static 'image/кубик0.png' %}" style="margin-right: 200px; width: 400px; height: 300px;"></img>
</div>


<div class="div1-container">
<br><br>  
<div class="container">
<p class="p1">
Кубик Рубика, также известный как "Magic Cube" или "Rubik's Cube", был изобретен
в 1974 году венгерским скульптором и профессором архитектуры Эрно Рубиком. 
Рубик разработал кубик как учебное средство для помощи своим студентам в понимании 
трехмерной геометрии и взаимодействия объектов в пространстве.
Оригинальная версия кубика Рубика состояла из 3x3x3 кубиков на каждой грани 
и имела шесть различных цветов: красный, синий, зеленый, оранжевый, желтый и белый.
Цель состояла в том, чтобы перемешать цвета и затем вернуть кубик в исходное
состояние, где каждая грань состояла из одного цвета.
В 1980 году кубик Рубика был представлен на международной игрушечной выставке в
Германии, где он вызвал огромный интерес и стал популярным по всему миру. 
С тех пор кубик Рубика стал одной из самых продаваемых головоломок в истории,
и оценивается как более 350 миллионов проданных экземпляров.
Кубик Рубика вызвал огромный восторг и увлечение во всем мире, привлекая людей
разных возрастов и национальностей. Он стал предметом соревнований по скоростной
сборке, и существуют различные методы и алгоритмы для его решения. Кроме классического
3x3x3 кубика, появились также различные модификации и варианты кубика Рубика, 
предлагающие дополнительные вызовы и уровни сложности для любителей головоломок.</p>

<img src="{% static 'image/history1.png' %}" style="margin-right: 150px; width: 400px; height: 300px;"></img>

</div>
</div>




</div>
<br><br> 
<br><br> 
<br><br> 
<br><br> 
</div>
</div>






<div class="div2">
<br><br> 
<div class="div2-content"> 
<h1 style="text-align: right; margin-right:150px; color:rgb(85, 250, 96);">Разнообразие кубиков Рубика</h1>
<br><br><br>
<div class="container">
<p class="p1" style="color:rgb(255, 255, 255); font-weight: bold;">
Существует множество различных видов кубика Рубика
Классический кубик Рубика 3x3x3: Это самый распространенный вид кубика Рубика.<br> 
Он состоит из 6 граней, каждая из которых имеет размер 3x3 кубиков.<br> 
Каждый кубик имеет один из шести цветов: красный, синий, зеленый, оранжевый,<br> 
желтый и белый. Цель состоит в том, чтобы переставить кубики таким образом, <br> 
чтобы каждая грань состояла из одного цвета.<br> 
Кубик Рубика 2x2x2: Известный также как "Кубик Пикарда" или "Мини-кубик", <br> 
этот кубик имеет 2x2x2 кубика на каждой грани. У него также есть шесть цветов<br> 
и требование состоять из граней одного цвета.<br> 
<br> 
Кубик Рубика 4x4x4: Это увеличенная версия классического кубика Рубика.<br> 
Он имеет размер 4x4x4 кубиков на каждой грани. В отличие от 3x3x3, у него есть<br> 
дополнительные внутренние механизмы, что делает его более сложным для сборки.<br> 
<br> 
Кубик Рубика 5x5x5: Это еще более сложная версия, состоящая из 5x5x5 кубиков на<br> 
каждой грани. Он требует более продвинутых методов сборки и больше времени для решения.<br> 
<br> 
Другие варианты: Помимо основных размеров, существуют и другие вариации кубиков Рубика,<br> 
такие как кубики с формами других полиэдров (например, пирамидки, октаэдры), кубики с<br> 
дополнительными слоями и различными механизмами вращения.<br> 
</p>
 <img src="{% static 'image/разнообразие.png' %}" style="margin-right: 100px; width: 400px; height: 370px;"></img>
   
</div>
<br><br> 
<br><br> 
<br><br> 
<br><br> 
</div>
</div>
  

<br><br> 
<br><br> 
  
  
<div class="div3">
<br><br> 
<div class="div3-content"> 
<h1 style="text-align: right; margin-right:150px; color:blue;">Разнообразие кубиков Рубика</h1>
 <h4 style=" margin-left: 30;">На данный момент существует множество различных  видов кубика рубика.<h4>
 <h4 style=" margin-left: 30;">Давайте познакомимся с некоторыми из них.<h4>
<br><br><br>
<div class="container">
<p class="p1">
<br><br>
Кубик Рубика 2Х2<br>
Это миниатюрная версия классического кубика Рубика. Он состоит из 2х2х2=8 маленьких кубиков.<br>
У него 6 граней, каждая из которых может быть повернута независимо от других.<br>
<br><br><br><br>
Кубик Рубика 3x3<br>
Это наиболее известный и распространенный кубик Рубика. Он состоит из 3х3х3=27 маленьких кубиков.<br> 
У него также 6 граней, которые могут быть повернуты для перемешивания и решения головоломки.<br>
<br><br><br><br>
Зеркальный кубик 3x3<br>
Этот кубик имеет особенность в своем дизайне. Вместо обычных цветных граней он имеет<br>
зеркальные поверхности, которые отражают окружающую среду.<br>
<br><br><br><br>
Трехцветный кубик 3x3<br>
тот кубик, как следует из названия, имеет только три цвета на гранях вместо шести.<br>
Это усложняет процесс сборки, так как ориентироваться можно только по цветам.<br>
<br><br><br><br>
Скрученный кубик 3x3<br>
Этот кубик имеет особую форму, в которой грани не являются равносторонними квадратами.<br>
Они искажены или скручены, что создает дополнительные сложности при его сборке.<br>
<br><br><br><br>
Кубик Рубика 4x4<br>
Он состоит из 4х4х4=64 маленьких кубиков. У него больше комбинаций и требует<br>
более продвинутых методов для его сборки.<br>
<br><br><br><br><br>
Кубик Рубика 5x5<br>
Он состоит из 5х5х5=125 маленьких кубиков и является еще более сложной версией кубика Рубика.<br>
Его сборка требует глубокого понимания алгоритмов и стратегий.<br>
<br><br><br><br>
Кубик "Косая мельница"<br>
Две пары противоположных граней могут быть повернуты вместе.<br>
Это создает новые вызовы при сборке и требует особых методов решения.<br>
<br><br><br><br>
Кубик "Мельница"<br>
Это еще одна модификация кубика 3x3, где обычные кубики заменены на треугольные пирамидки.<br> 
Каждая грань состоит из трех треугольных элементов.<br>
<br><br><br><br>
Аксель-куб 3x3<br>
Это кубик, который имеет выступающие элементы на своих гранях.<br>
Это усложняет сборку и требует уникальных методов для его решения.<br>
<br><br><br><br>
Пентакль<br>
Этот кубик также является модификацией кубика 3x3. У него есть дополнительные выступы<br>
на каждой грани, образующие форму пятиконечной звезды.<br>
<br><br><br><br>
</p>
   <div class="image-slider">
  <img src="{% static 'image/куб1.png' %}" alt="Картинка 1" class="active">
  <img src="{% static 'image/куб2.png' %}" alt="Картинка 2">
  <img src="{% static 'image/куб3.png' %}" alt="Картинка 3">
  <img src="{% static 'image/куб4.png' %}" alt="Картинка 4">
  <img src="{% static 'image/куб5.png' %}" alt="Картинка 5">
  <img src="{% static 'image/куб6.png' %}" alt="Картинка 6">
  <img src="{% static 'image/куб7.png' %}" alt="Картинка 7">
  <img src="{% static 'image/куб8.png' %}" alt="Картинка 8">
  <img src="{% static 'image/куб9.png' %}" alt="Картинка 9">
  <img src="{% static 'image/куб10.png' %}" alt="Картинка 10">
  <img src="{% static 'image/куб11.png' %}" alt="Картинка 11">
  </div>


</div>
<br><br> 
<br><br> 
</div>
</div>
  

  

  
</main>
  
  <footer>
    <nav>
      <ul>  
	 
	  <a></a>
	   
        <li><a href="file://C:/Users/User/Desktop/HTML/Лабы/кубик/Главная.html">телеграмм</a></li>
        <li><a href="file://C:/Users/User/Desktop/HTML/Лабы/кубик/Алгоритмы.html">инстаграмм</a></li>
		<li><a href="file://C:/Users/User/Desktop/HTML/Лабы/кубик/Про_нас.html">электронная почта<a><li>
      </ul>
    </nav>
  </footer>
</body>
</html>
