{% load static %}
<html>
<head>
  <title>Моя страница</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
	<header>
	
    <nav>
      <ul>  
	  <img src="{% static 'image/1.png' %}" class="icon" style="text-align: center; width: 20px; height: 20px;"></img>
	  <a>Мир кубика Рубика&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
	   
        <li><a href="{% url 'glav' %}">Главная</a></li>
        <li><a href="{% url 'algor' %}">Алгоритмы</a></li>
        <li><a href="{% url 'up' %}">Соревнования</a></li>
		<li><a href="{% url 'we' %}">Про нас<a><li>
		<li><a href="{% url 'time' %}">Таймер<a><li>

      </ul>
    </nav>
	
</header>
  
<main>
<div class="div1">
<br><br>  
<div class="div1-content"> 
<h1 style="text-align: center;">Соревнования</h1>
<br><br><br> 
<div class="container">

<p class="p1">
Спидкубинг (англ. Speedcubing) – это спортивная дисциплина, которая заключается в сборке кубика Рубика или других головоломок на время. Соревнования по спидкубингу собирают людей со всего мира, увлеченных этим увлекательным занятием.
<br><br>
На соревнованиях спидкубинга участники соревнуются в нескольких дисциплинах, которые различаются по размеру и типу головоломки. Основной и наиболее популярной дисциплиной является сборка трехслойного кубика Рубика 3x3x3. Участники также могут участвовать в сборке кубиков других размеров, таких как 2x2x2 (кубик 2x2), 4x4x4 (кубик 4x4), 5x5x5 (кубик 5x5) и более сложных головоломок, таких как пирамидка (Pyraminx), скьюб (Skewb) и др.
<br><br>
Соревнования по спидкубингу проводятся в соответствии с определенными правилами и процедурами. Каждый участник имеет определенное время на осмотр головоломки перед началом сборки. Затем участникам дается время для выполнения нескольких сборок, и их результаты усредняются для получения окончательного времени. Часто используется метод среднего времени из пяти или десяти попыток.
<br><br>
</p>
<img src="{% static 'image/fast1.jpg' %}" style="margin-right: 50px; width: 600px; height: 400px;">

</div>
<br><br> 
<br><br> 
<br><br> 
<br><br> 
</div>
</div>

<div class="div6">
<br><br> 
<div class="div6-content"> 
<h1 style="text-align: center;">Интересные факты</h1>
<br><br><br>
<div class="container">
<p class="p1">
На соревнованиях спидкубинга участники соревнуются за установку личных рекордов и попытку побить рекорды мирового уровня. Существуют организации, такие как World Cube Association (WCA), которые регулируют и признают официальные результаты соревнований по спидкубингу. WCA также устанавливает стандарты для соревнований и поддерживает рейтинговую систему для участников.
<br><br>
Спидкубинг стал не только популярным хобби, но и серьезным видом спорта. Многие участники достигают впечатляющих результатов, собирая кубики за несколько секунд. Рекорд мира на момент моего знания составлял менее 4 секунд для сборки трехслойного кубика Рубика.
<br><br>
Соревнования по спидкубингу привлекают людей разных возрастов и национальностей, объединяя их общей страстью к головоломкам и стремлением к достижению новых рекордов. Они предоставляют возможность участникам продемонстрировать свои навыки, соревноваться и наслаждаться уникальной атмосферой сообщества спидкуберов.
</p>

 <img src="{% static 'image/fast4.png' %}" style="margin-right: 50px; width: 600px; height: 400px;">
</div>
<br><br> 
<br><br> 
<br><br> 
</div>
</div>

<div class="div7">
<br><br> 
<div class="div7-content"> 
<h1 style="text-align: center;">Как быстро собирать кубик Рубика?</h1>
<br><br><br>
<div class="container">
<p class="p1">

При скоростной сборке кубика Рубика (или другой головоломки) важно использовать определенную методику держания и вращения кубика, которая позволяет сохранять скорость и точность движений. Вот некоторые основные принципы:
<br><br>
Удобный захват: Правильное положение рук и пальцев очень важно для эффективного вращения кубика. Многие спидкуберы предпочитают использовать метод "CFOP" (Cross, F2L, OLL, PLL), их руки должны быть в удобном положении для выполнения различных алгоритмов.
<br><br>
Повороты с помощью запястья: Основным движением для вращения кубика является поворот запястья. Он должен быть быстрым и плавным, чтобы обеспечить эффективность и точность. Избегайте излишнего напряжения и сохраняйте естественное движение запястья.
<br><br>
Одновременные вращения: В процессе сборки кубика можно использовать одновременные вращения нескольких слоев. Например, при выполнении алгоритма для сборки креста (Cross) можно вращать не только верхний слой, но и двигать средние и нижние слои одновременно, чтобы ускорить процесс.
<br><br>
Правильное положение кубика: Важно научиться держать кубик так, чтобы было удобно видеть и доступно вращать все его стороны. Корректируйте положение кубика в руке в процессе сборки, чтобы максимально удобно работать со всеми его элементами.
<br><br>
Тренировка и автоматизация: Чтобы достичь высокой скорости сборки, требуется много практики. Постепенно тренируйте свои движения и старайтесь автоматизировать алгоритмы, чтобы выполнять их без задумывания. Чем больше вы тренируетесь, тем более плавными и быстрыми становятся ваши движения.
</p>
 <img src="{% static 'image/fast2.jpg' %}" style="margin-right: 50px; width: 600px; height: 400px;">
</div>
<br><br> 
<br><br> 
<br><br> 
<br><br> 
</div>
</div>
  
  
  
  
<h3 style="text-align: center;"><br><br><br><br></h3>
  
</main>
  
  <footer>
    <nav>
      <ul>  
	 
	  <a></a>
	   
        <li><a href="file://C:/Users/User/Desktop/HTML/Лабы/кубик/Главная.html">телеграмм</a></li>
        <li><a href="file://C:/Users/User/Desktop/HTML/Лабы/кубик/Алгоритмы.html">инстаграмм</a></li>
		<li><a href="file://C:/Users/User/Desktop/HTML/Лабы/кубик/Про_нас.html">электронная почта<a><li>
      </ul>
    </nav>
  </footer>
</body>
</html>