{% load static %}
<html>
<head>
  <title>Моя страница</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
	<header>
	
    <nav>
      <ul>  
	  <img src="{% static 'image/1.png' %}" class="icon" style="text-align: center; width: 20px; height: 20px;"></img>
	  <a>Мир кубика Рубика&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
	   
         <li><a href="{% url 'glav' %}">Главная</a></li>
        <li><a href="{% url 'algor' %}">Алгоритмы</a></li>
        <li><a href="{% url 'up' %}">Соревнования</a></li>
		<li><a href="{% url 'we' %}">Про нас<a><li>
		<li><a href="{% url 'time' %}">Таймер<a><li>

      </ul>
    </nav>
	
</header>
  
<main>
<div class="div8">
<br><br>  
<div class="div8-content"> 
<h1 style="text-align: center;">Создатели сайта</h1>
<br><br><br> 
<div class="container">

<p class="p1">
<br>

Дорогие пользователи!<br>

Мы, команда разработчиков сайта. При создании сайта  мы старались разработать понятный и доступный интерфейс. 
Также ма хотели бы поделиться с вами несколькими рекомендациями относительно кубика Рубика и метода его скоростной сборки. 
Мы понимаем, что многие из вас интересуются этой увлекательной головоломкой, 
поэтому хотим помочь вам достичь лучших результатов. <br>
Вот несколько советов, которые, надеемся, будут полезными:
<br>
1. Изучите основы: Прежде чем приступать к скоростной сборке, убедитесь, что вы хорошо понимаете базовые алгоритмы и термины, связанные с кубиком Рубика. Разберитесь с обозначениями граней и движением кубика.
<br>
2. Выберите метод: Существуют разные методы скоростной сборки кубика Рубика, такие как метод Фридрих, метод Ру, метод Колла и другие. Изучите их особенности и выберите тот, который вам больше подходит. Начните с простого метода, а затем постепенно переходите к более сложным, если хотите улучшить свои результаты.
<br>
3. Тренируйтесь регулярно: Как и в любом другом навыке, регулярная тренировка очень важна. Уделите время каждый день или несколько раз в неделю для тренировки скоростной сборки кубика Рубика. Это поможет вам улучшить свою скорость и точность.
<br>
4. Используйте таймер: Для отслеживания своего прогресса и контроля времени, затрачиваемого на сборку кубика, используйте специальные таймеры, доступные на многих сайтах и мобильных приложениях. Это поможет вам установить цели и мотивировать себя для дальнейшего улучшения.
<br>
5. Изучите алгоритмы: Освоение различных алгоритмов является ключевым в сборке кубика Рубика. Начните с изучения базовых алгоритмов, а затем переходите к более сложным. Помните, что практика и повторение помогут вам запомнить и использовать алгоритмы более эффективно.

<br>
Надеемся, что эти рекомендации помогут вам в изучении и совершенствовании навыка скоростной сборки кубика Рубика. Не забывайте, что ключевым фактором является практика, поэтому тренируйтесь, наслаждайтесь процессом и не бойтесь испытывать новые методы и подходы.
<br>
С наилучшими пожеланиями,
Команда разработчиков сайта)<br>
</p>

<img src="{% static 'image/abt.png' %}" style="margin-right: 100px; width: 500px; height: 350px;"></img>

</div>
<br><br> 
<br><br> 
<br><br> 
<br><br> 
</div>
</div>

  
</main>
  
  <footer>
    <nav>
      <ul>  
	 
	  <a></a>
	   
        <li><a href="file://C:/Users/User/Desktop/HTML/Лабы/кубик/Главная.html">телеграмм</a></li>
        <li><a href="file://C:/Users/User/Desktop/HTML/Лабы/кубик/Алгоритмы.html">инстаграмм</a></li>
		<li><a href="file://C:/Users/User/Desktop/HTML/Лабы/кубик/Про_нас.html">электронная почта<a><li>
      </ul>
    </nav>
  </footer>
</body>
</html>